@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

/* === LIGHT THEME — Elegant Pastel Violet === */
@layer theme {
  :root {
    --background: #ffffff;
    --foreground: #0f0f0f;

    --gray-background: oklch(70.7% 0.022 261.325);
    --gray-foreground: oklch(27.8% 0.033 256.848);
    --primary: #7a7ef8f9;
    --medium: var(--info);
    --secondary: #8b5cf6; /* purple */
    --accent: #ec4899; /* pink */

    --border: #d1d5db; /* gray-300 */
    --muted-foreground: #6b7280; /* gray-500 */

    --success: #10b981; /* green-500 */
    --warning: #f59e0b; /* amber-500 */
    --danger: #ef4444; /* red-500 */
    --info: #3b82f6; /* blue-500 */
  }

  /* === DARK THEME — Elegant Deep Violet === */
  html.dark {
    --background: #111827;
    --foreground: #f5f5f5;

    --gray-background: #111827;
    --gray-foreground: oklch(70.7% 0.022 261.325);
    --primary: #606ad75f;
    --secondary: #a78bfa; /* purple-400 */
    --medium: red;
    --accent: #f472b6; /* pink-400 */

    --border: #4b5563; /* gray-600 */
    --muted-foreground: #9ca3af; /* gray-400 */

    --success: #34d399; /* green-400 */
    --warning: #fbbf24; /* amber-400 */
    --danger: #f87171; /* red-400 */
    --info: #60a5fa; /* blue-400 */
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gray-background: var(--gray-background);
  --color-gray-foreground: var(--gray-foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-medium: var(--medium);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --color-warning: var(--warning);
  --color-success: var(--success);
  --color-info: var(--info);
}

@layer base {
  html,
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
